<div class="head">
<h1><img src= /images/logo.png alt= "logo" width="150" height=150"></h1>
<h2>Hay mucho más que un río de sangre</h2>
</div>
<div class="second">
<ul>
  <li> <a href = "/"><img src=/images/inicio.png alt="inicio" width="100" height="100"></a> </li>
  <li> <a href = "/about"><img src=/images/sobre.png alt="sobre" width="100" height="100"></a> </li>
  <li> <a href = "/colabore"><img src=/images/colabore.png alt="colabore" width="110" height="110"></a> </li>
  <li> <a href = "/parcero"><img src=/images/parceros.png alt="parcero" width="110" height="110"></a> </li>
  <li> <a href = "/portfolio"><img src=/images/portfolio.png alt="portfolio" width="110" height="110"></a> </li>

</div>

<br></br>
<form>
  Nombre:<br>
  <input type="text" name="nombre"><br>
  Apellido:<br>
  <input type="text" name="apellido"><br>
  Profesión<br>
  <input type="text" name="profesión"><br>
  Ciudad<br>
  <input type="radio" name="ciudad" value="Bogotá" checked> Bogotá<br>
 <input type="radio" name="ciudad" value="otra"> Otra<br><br>
 <textarea name="comocolaborar" rows="10" cols="60">
¡Cuentenos como quieres colaborar!
</textarea><br>
 <input type="submit">
 <p class = "datos"><img src= /images/Gmail_icon.png alt="gmail logo" width="20" height="20" > jgabrielrtalmeida@gmail.com <img src= /images/WhatsApp_Icon.png alt="Whatsapp logo" width="30" height="30"> 316 6 18 9300</p>

</form>
