<div class="head">
<h1><img src= /images/logo.png alt= "logo" width="150" height=150"></h1>
<h2>Hay mucho más que un río de sangre</h2>
</div>
<div class="second">
<ul>
  <li> <a href = "/"><img src=/images/inicio.png alt="inicio" width="100" height="100"></a> </li>
  <li> <a href = "/about"><img src=/images/sobre.png alt="sobre" width="100" height="100"></a> </li>
  <li> <a href = "/colabore"><img src=/images/colabore.png alt="colabore" width="110" height="110"></a> </li>
    <li> <a href = "/parcero"><img src=/images/parceros.png alt="parcero" width="110" height="110"></a> </li>
    <li> <a href = "/portfolio"><img src=/images/portfolio.png alt="portfolio" width="110" height="110"></a> </li>

</div>


<!-- div donde se inyectará la visualizción de D3js -->
<div id="viz"></div>

<!-- carga desde el servidor de D3 la librería -->
<!-- cabe anotar que esta podría estar alojada localmente en la carpeta -->
<!-- public del proyecto -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- script de JS que hace las peticiones al servidor y crea la visualización-->
<script type="text/javascript">
// Función encargadad de la visualización de datos por medio de D3
function viz(data){
  // selecciona la división donde se inyectará el SVG
  var svg = d3.select('#viz')
    .append('svg') // agrega un elemento SVG
    .attr('width', 1600) // al SVG le agrega el atributo ancho de 400px
    .attr('height', 3200) // al SVG le agrega el atributo alto de 200px
  var elem = svg.selectAll('g') // selecciona todos los elementos `g` (grupos)
    .data(data) // enlaza los datos del servidor
  var elemEnter = elem.enter()
      .append('g') // agrega un grupo
      .attr('transform', function(d,i){ // aplica una transformación al elemento
        return "translate(80, "+(200*i+200)+")" // calcula la posción relativo a
                                              // los datos
      })

var rect = elemEnter.append('rect')
.attr('x', '10')
.attr('y', '10')
.attr('fill', 'white')
.attr('height', '100')
.attr('width', '100')

var text = elemEnter.append('text')
.text(function(d){
  var tags = d.tags
  var taglist =''
  tags.forEach(function(tag){
    taglist = taglist + tag.name + ', '
  })
  return taglist
})
}

// Rutina para hacer la petición al servidor de Omeka
// 1. crea una nueva instancia de XMLHttpRequest
var request = new XMLHttpRequest();
// variables para construir la URL final para donde se hace la petición
// servidor proxy para souclionar problemas de CORS (ver README)
var CORS_PROXY = 'http://192.169.250.12:8088/';
// usa el proxy?
var use_cors = true;
//la URL del API (http://elcrucedelrio.omeka.net/api)
var baseUrl = 'http://elcrucedelrio.omeka.net/api'
// el key generado por omeka
var API_KEY = 'a36cc25663b183871facaba86c9d9a8a252855af'
// comstruye la URL final a partir de los datos suministrados anteriormente
var URL = '' // variable donde se guardará la URL final
// Si va a usar el proxy
if (use_cors){
  // concatena todas las variables
  // http://192.169.250.12:8088/http://miomeka.org/api/collections?key=API_KEY
  URL = CORS_PROXY+baseUrl+'/items?key='+API_KEY
// si no usa el proxy
} else {
  // concatena todas las variables
  // http://elcrucedelrio.omeka.net/api/collections?key=API_KEY
  URL = baseUrl+'/items?key='+API_KEY
}
// 2. abre una conexión al servidor usando el método GET
// la URL debe estar construida así:
request.open('GET', URL, true);
// cuando se ejecuta la conexión con el servidor y obtenemos respuesta
request.onload = function() {
  // si la petición se ejecuta correctamente
  if (request.status >= 200 && request.status < 400) {
    // convertimos la repuesta del servidor en un objeto JSON
    var resp = JSON.parse(request.responseText);
    // ejecuta la función de visualizacion
    viz(resp)
  } else {
    // si hay un error en la conexión, escribe en la consola el error
    console.log('ups! tenemos un error', request.status)
  }
};
// si hay un error, este evento se ejecuta para informar que algo pasó
request.onerror = function() {
  // algo pasó en el intento de conexión
  console.log('Error!!')
};
// hace la petición al servidor
request.send();
</script>
